<!-- Include Head -->
<%- include("partials/head") %>
<!-- Header -->
<%- include("partials/header_guest") %>
<!-- /Header -->

<!-- Novedades -->
<main class="container products-wrapper">
  <section class="row">
    <header class="col-12">
      <h2 class="products-title">Ingresar</h2>
    </header>
    <form>
		<div>
			<label>Usuario</label>
			<input type="email" name="email">
		</div>
		<div>
			<label>Contraseña</label>
			<input type="password" name="password">
		</div>
		<div>
			<label>Recuerdame</label>
			<input type="checkbox" name="rememberMe" value="yes" >
		</div>

		<div>
			<button type="submit">Login</button>
		</div>
    </form>
  </section>
</main>

<!-- footer -->
<%- include("partials/footer") %>

<!-- /footer -->