<%- include("partials/head") %>
<!-- Header -->
<%- include("partials/header_guest") %>
<!-- /Header -->

<!-- Novedades -->
<main class="container products-wrapper">
  <section class="row">
    <header class="col-12">
      <h2 class="products-title">Registrate</h2>
    </header>
    <!-- Show the "ultimos" products -->
	<form action="/process" method="get">
		<div>
			<labe>Email</labe>
			<input type="email" name="email">
		</div>
		<div>
			<labe>Usuario</labe>
			<input type="text" name="username">
		</div>
		<div>
			<labe>Contraseña</labe>
			<input type="password" name="password">
		</div>
		<div>
			<labe>N° Documento</labe>
			<input type="number" name="dni">
		</div>
		<div>
			<labe>Fecha de Nacimiento</labe>
			<input type="date" name="birthdate">
		</div>
		<div>
			<labe>Foto de Perfil</labe>
			<input type="text" name="avatar">
		</div>

		<div>
			<button type="submit">Registrarse</button>
		</div>
	</form>

  </section>
</main>


<!-- footer -->
<%- include("partials/footer") %>